.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.form{
    border: solid;
    width: 40%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 6px 16px rgba(0, 0, 0, 0.351);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.signin{
    display: flex;
    background-color: rgb(132, 23, 23);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.input{
    height: 30px;
    width: 80%;
    margin-bottom: 20px;
}

.btn{
    margin-bottom: 20px;
    background-color: rgb(132, 23, 23);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
}
.close:hover{
    cursor: pointer;
}